@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   cursor: default;
}

body{
   font-family: 'Noto Sans KR', sans-serif;
}

/* ------------------header부분 ----------------*/
header{
   position: relative;
   text-align: center;
   top: 0px;
   left: 0px;
   position: fixed;
   width: 100%;
   height: 80px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   border-left: none;
   border-right: none;
   border: 1px solid #DBDBDB;
   opacity: 1;
   z-index: 90;
   
}

.header-con-wrap{
   display: inline-block;
   position: relative;
   max-width: 1440px;
   width: 100%;
}

.ci-logo{
   width: fit-content;
   /* position: absolute; */
   padding: 25px 0 0 120px;
}

.ci-logo img{
   width: 133px;
   height: 30px;
   /* filter:invert(100%) sepia(100%) saturate(2%) hue-rotate(190deg) brightness(102%) contrast(101%); */
}

.header-con-wrap nav{
   margin-top: -35px;
   padding-right: 160px;
   float: right;
   width: fit-content;
   margin-right: 0;
}

.nav-text{
   display: flex;
   justify-content: space-between;
   width: 400px;
}
.nav-text a{
   display: block;
   text-decoration: none;
}
.nav-text li{
   display: block;
   letter-spacing: 0px;
   color: #000000;
   opacity: 1;
   font-size: 20px;
   font-weight: bold;
   width: 74px;
   height: 29px;
   text-transform:uppercase; 
}


.nav-text a:first-child li{
   cursor: pointer;
} /*<- 사업소개, 정보마당, 마지막 서브 페이지에선 주석 지워야 함*/
.nav-text a:nth-child(2) li{
   cursor: pointer;
} 
/* .nav-text a:last-child li{
   cursor: pointer;
} <- 회사소개, 사업소개, 정보마당 페이지에선 주석 지워야 함 */

.nav-text li:hover{
   color: #184B9F;
}
.nav-text a:first-of-type li:after, /*<- 두번째, 세번째, 네번째 서브 해당되는 사람이면 살려야함*/
.nav-text a:nth-of-type(2) li:after{
   display:block;
   margin-top: 3px;
   content: '';
   height: 6px;
   background: #184B9F; 
   border-radius: 3px; 
   transform: scaleX(0);  
   transition: transform 250ms ease-in-out;
   transform-origin: 0% 50%;
}

.nav-text a:first-of-type li:hover:after, /*위와 같은 규칙*/
.nav-text a:nth-of-type(2) li:hover:after
{ 
   transform: scaleX(1);
}


.nav-text .underline{
   margin-top: 3px;
   width: 74px;
   height: 6px;
   background: #184B9F; 
   border-radius: 3px; 
}

.under-1{
    visibility: hidden;  
}
.nav-text .under-2{
   display: none; /*<-두번째 서브 페이지는 주석처리 하고, 나머지 1이랑3은 살림*/
}




/*.nav-text a:nth-of-type(2) li{
    /* color: #184B9F;} */ /*<- 첫번째 세번째 네번째 서브 담당자는 주석처리해야함*/

.nav-text a:last-of-type li{
    color: #184B9F;} 


.hamburger-menu{
   position: absolute;
   top: 25px;
   right: 0;
   width: 32px;
   height: 32px;
   cursor: pointer;
   background: transparent url('../01/resoft/images/hamburger_menu.svg') 0% 0% no-repeat padding-box;
   opacity: 1;
}

.hide-nave{
   /* top: 24px;
   left: 0px; */
   width: 100%;
   height: 263px;
   display: none;
}

.hide-nav-texts{
   position: absolute;
   top: 79px;
   right: 0;
   width: 100%;
   height: 207px;
   background: #184B9F 0% 0% no-repeat padding-box;
   border: 1px solid #707070;
   border-top: none;
   opacity: 0.9;
   color: #FFFFFF;
}

.hide-nav-texts a{
   text-decoration: none;
   color: #FFFFFF;
}

.hide-nav-con-wrap{
   position: relative;
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
}
.small-size-nav-wrap{
   position: absolute;
   width: 400px;
   top: 12px;
   right: 160px;
   margin-bottom: 16px;
   display: none;
}
.slide-nav-text a:last-of-type li{
   padding-right: 18px;
}

.slide-nav-text a:nth-of-type(2) li{
   padding-left: 18px;
}

.slide-nav-text{
   display: flex;
   justify-content: space-between;
}
.hide-nav-flex-wrap{
   position: absolute;
   display: flex;
   justify-content: space-between;
   width: 400px;
   top: 12px;
   right: 160px;
   
}

.hide-nav-texts a li{
   text-align: left;
   padding-bottom: 5px;
   letter-spacing: 0px;
   opacity: 1;
   cursor: pointer;
}
.hide-nav-texts{
   display: none;
}

/* 반응형 - 해상도 (941px~1024이하일때) */

@media screen and (min-width:769px) and (max-width:1280px) {
   /* nav 부분 */
   .header-con-wrap{
      max-width: 1280px;
   }

   .hamburger-menu{
      right: 20px;
   }
  
}

/* 반응형 - 해상도 940px 이하 */
@media (max-width:940px) {
    /* nav  */
    .header-con-wrap {
      max-width: 1280px;
   }
   .header-con-wrap nav{
      display: none;
   }

   .hamburger-menu{
      right: 20px;
   }

   .small-size-nav-wrap{
      position: relative;
      width: 100%;
      height: 30px;
      right: 0;
      display: block;
      border-bottom: #F8F8F8 1px solid;
   }

   .slide-nav-text{
      position: absolute;
      width: 400px;
      right: 160px;
   }   
   .hide-nav-flex-wrap{
      top: 46px;
   }


}

/* 해상도 767이하 */
@media (max-width:768px) {
   /* ci logo 부분 */
   .ci-logo{
      padding-left: 10%;
   }
   /* nav 부분 */
   .slide-nav-text,
   .hide-nav-flex-wrap{
      right: 0;
      margin: 0 10%;
   }

   .hide-nav-texts{
      height: 220px;
   }

   .hamburger-menu{
      right: 20px;
   }
}