p {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px 0px 0px 0px; line-height: 150%;
}


.bold {
    font-weight: 700;
    text-align: left;
    font: normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}
.medium {
    font-weight: 500;
    text-align: left;
    color: #C8C8C8;
    font: normal medium 18px/26px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}

#header{
    background: rgba(30, 30, 30, 1) 0% 0% no-repeat padding-box;
    opacity: 0.;
    background-image: url(./img/Head.png);
    display:flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    padding-left: 0px;
    margin-left: 0px;
}
.span {
    display: block;
    width: 148px;
    height: 58px;
    left: 886px;
    right: 201px;
    color: #ffffff;
    font-size: 100px;
    font: normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}

.bold-r {
    font-weight: 700;
    font-size: 30px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    width: 317px; height: 88px;
    left:1364px; top:618px;
    font: normal normal bold 30px/44px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    position: absolute; 
}
.back {
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
}

.front {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.ecocepage{
    display: flex;
    width: 1441px;
    height: 883px;
}

.right{
    position:absolute 50%; 
    width: 737px; height: 745px;
    object-position: right;
}

#ecoce {
    opacity: 1;
    width: 452px;
    height: 125px;
}
.eco {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/32px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: right;
    font: normal normal bold 22px/32px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    width: 178px;
    height: 32px;
}

.ecocelogo {
    padding-top: 366px;
    padding-left: 1228px;
    padding-right: 1px;
    padding-bottom: 392px;
}

.project_t {
    padding-left: 240px;
    padding-top: 100px;
    padding-right: 239px;
    width: 1441px;
}

.rightimg {
    left:1228px; top:846px;
    position:absolute;
}

.button_wrap a:first-child {
    margin-bottom: 10px;
}
.button_wrap a {
    width: 189px;
    height: 57px;
    margin-left: 30px;
}

.button_wrap {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin-bottom: 131px;
    vertical-align: baseline;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 1025px;
}
.button-round-black {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 57px;
    padding: 0px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    line-height: 22px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration-line: none;
}
.button_wrap1 a:first-child {
    margin-bottom: 10px;
}
.button_wrap1 a {
    width: 153px;
    height: 57px;
    margin-left: 30px;
}
.button_wrap1 {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin-bottom: 131px;
    vertical-align: baseline;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 1025px;
}
.button-round-black2 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 57px;
    width: 153px;
    padding: 0px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    line-height: 22px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration-line: none;
    margin-top: 0px;
    left: 1527px;
    width: 153px;
    height: 57px;}

.bold_m {
    font-weight: 700;
    text-align: left;
    font: normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;

}
.medium_m {
    font-weight: 500;
    text-align: left;
    color: #C8C8C8;
    font: normal normal medium 18px/26px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}

.moado{
    padding-left: 240px;
}
.moadopage {
    background: transparent linear-gradient(223deg, #E4CDE800 0%, #339BE133 100%) 0% 0% no-repeat padding-box;
    opacity: 1;   
    width: 1920px;
    height: 686px;
    padding-top: 134px;
    left: 0px;
}
#mmate {
    top: 1597px;
    left: 240px;
}
#moado_f {
    padding-top: 0px;
    padding-left: 700px;
}

#moado_logo {
    left: 1228px;
    top: 1781px;
}

.text {
    font-weight: 700;
    font-size: 30px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: right;
    width: 324px; height: 44px;
    left:1357px; top: 1597px;
    font: normal normal bold 30px/44px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    position: absolute; 
}

.projectimg {
    width: 3000px;
    padding-top: 50px;
}
.project1 {
    box-shadow: 0px 0px 10px #000000;
    width: 228px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    float: left;
    margin-left: 0;
    margin-right: 37.5px;
}
.project {
    box-shadow: 0px 0px 10px #000000;
    width: 228px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    float: left;
    margin-left: 37.5px;
    margin-right: 37.5px;
}