p {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px 0px 0px 0px; line-height: 150%;
}


.bold {
    font-weight: 700;
    text-align: left;
    font: normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}
.medium {
    font-weight: 500;
    text-align: left;
    color: #C8C8C8;
    font: normal medium 18px/26px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}

#header{
    background: rgba(30, 30, 30, 1) 0% 0% no-repeat padding-box;
    opacity: 0.;
    background-image: url(./img/Head.png);
    display:flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    padding-left: 0px;
    margin-left: 0px;
}
.span {
    display: block;
    width: 148px;
    height: 58px;
    left: 886px;
    right: 201px;
    color: #ffffff;
    font-size: 100px;
    font: normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}

.bold-r {
    font-weight: 700;
    font-size: 30px;
    text-align: right;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    width: 317px;
    height: 88px;
    font: normal normal bold 30px/44px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}
.back {
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
}

.front {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
#ecoce {
    opacity: 1;
    width: 452px;
    height: 125px;
}
.eco {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/32px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: right;
    font: normal normal bold 22px/32px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    width: 178px;
    height: 32px;
}

.project_t {
    padding-left: 240px;
    padding-top: 100px;
}

.apple {
    font: var(--unnamed-font-style-normal) normal medium 14px/22px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 14px/22px Noto Sans KR;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.app {
    font: var(--unnamed-font-style-normal) normal medium 14px/22px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal medium 14px/22px Noto Sans KR;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.appimg {
    padding-top: 1106px;
    padding-left: 1293px;
    padding-right: 596px;
}

.appleimg {
    left: 1510.01px; 
    top:1185.75px;
}

.bold_m {
    font-weight: 700;
    text-align: left;
    font: normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;

}
.medium_m {
    font-weight: 500;
    text-align: left;
    color: #C8C8C8;
    font: normal normal medium 18px/26px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}