p {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px 0px 0px 0px; line-height: 150%;
}


.bold {
    font-weight: 700;
    text-align: left;
    font: normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}
.medium {
    font-weight: 500;
    text-align: left;
    color: #C8C8C8;
    font: normal medium 18px/26px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}

#header{
    background: rgba(30, 30, 30, 1) 0% 0% no-repeat padding-box;
    opacity: 0.;
    background-image: url(./img/Head.png);
    display:flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    padding-left: 0px;
    margin-left: 0px;
}
.span {
    display: block;
    width: 148px;
    height: 58px;
    left: 886px;
    right: 201px;
    color: #ffffff;
    font-size: 100px;
    font: normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}

.bold-r {
    font-weight: 700;
    font-size: 30px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    width: 317px; height: 88px;
    left:1364px; top:618px;
    font: normal normal bold 30px/44px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    position: absolute; 
}
.back {
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
}

.front {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.ecocepage{
    display: flex;
    width: 1441px;
    height: 883px;
}

.right{
    position:absolute 50%; 
    width: 737px; height: 745px;
    object-position: right;
}

#ecoce {
    opacity: 1;
    width: 452px;
    height: 125px;
}
.eco {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/32px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: right;
    font: normal normal bold 22px/32px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    width: 178px;
    height: 32px;
}

.ecocelogo {
    padding-top: 366px;
    padding-left: 1228px;
    padding-right: 1px;
    padding-bottom: 392px;
}

.project_t {
    padding-left: 240px;
    padding-top: 100px;
    padding-right: 239px;
    width: 1441px;
}

.rightimg {
    left:1228px; top:846px;
    position:absolute;
}

.button_wrap a:first-child {
    margin-bottom: 10px;
}
.button_wrap a {
    width: 189px;
    height: 57px;
    margin-left: 30px;
}

.button_wrap {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin-bottom: 131px;
    vertical-align: baseline;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 1025px;
}
.button-round-black {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 57px;
    padding: 0px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    line-height: 22px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration-line: none;
}
.bold-moado {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    top: 134px;
    padding-right: 239px;
    position: absolute; 
  }

.bold_m {
    font-weight: 700;
    text-align: left;
    font: normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;

}
.medium_m {
    font-weight: 500;
    text-align: left;
    color: #C8C8C8;
    font: normal normal medium 18px/26px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
}
#section_moado {
    padding-top: 100px;
    width: auto;
    height: auto;
    top: 1597px;
    overflow: auto;
    background: linear-gradient(45deg, #339BE133, transparent 15%),
                linear-gradient(340deg, #E4CDE8, transparent 45%);
  }
  #section_moado .container {
    position: relative;
    /* height: 686px; */
  }
  .moado_content_wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .image_moado_app {
    /* max-width: 850px;
    width: 100%; */
    max-width: 100%;
    margin-bottom: 15%;
    padding-top: 50px;
    padding-left: 240px;
  }
  .image_use_moado {
    /* 왼쪽에서 460px, 오른쪽에서 300px */
    position: absolute;
    left: 56%;
    bottom: 0;
    width: 100%;
    max-width: 680px;
    transform: translate(-50%, 0);
  }
  .moado_content_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .moado_content_right .logo_moado{
    max-width: 100%;
    margin-top: 140px;
    padding-top: 184px;
    padding-right: 240px;
  }

  .button-moado {
    margin-top: 140px;
    margin-bottom: 200px;
    margin-right: 240px;
  }
  .button-moado p {
    padding: 0 10px;
  }  
.text {
    font-weight: 700;
    font-size: 30px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-44) var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: right;
    width: 324px; height: 44px;
    left:1357px; top: 1597px;
    font: normal normal bold 30px/44px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
    position: absolute; 
}

.projectimg {
    width: 3000px;
    padding-top: 50px;
}
.project1 {
    box-shadow: 0px 0px 10px #000000;
    width: 228px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    float: left;
    margin-left: 0;
    margin-right: 37.5px;
}
.project {
    box-shadow: 0px 0px 10px #000000;
    width: 228px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    float: left;
    margin-left: 37.5px;
    margin-right: 37.5px;
}