* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    vertical-align: baseline;
}

/********** header **********/
.info_header {
    margin: 80px auto;
    width: 1920px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../04/img/64.png");
    position: relative;
}

.info_text {
    text-align: center;
    font: normal normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/********** REsoft 소식, NEWS **********/
.info_main {
    margin: 100px auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.info_title {
    text-align: left;
    font: normal normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}

.info_title p:last-child {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #C8C8C8;
    opacity: 1;
}

/********** 목록으로 **********/
.infonews_turn {
    width: 123px;
    height: 42px;
    opacity: 1;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.infonews_turn a {
    text-decoration: none;
    display: flex;
}

.infonews_turn_icon {
    width: 42px;
    height: 42px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.infonews_turn_text {
    text-align: left;
    font: normal normal medium 16px/24px Noto Sans KR;
    letter-spacing: 0.8px;
    color: #1E1E1E;
    opacity: 1;
    display: flex;
    align-items: center;
    margin-left: 18px;
}

.infonews_turn img:last-child {display: none;}
.infonews_turn:hover img:first-child {display: none;}
.infonews_turn:hover img:last-child {display: inline-block;}

.infonews_turn:hover .infonews_turn_text {
    color: #184B9F;
}

/********** headline **********/
.infonews_list {
    width: 1060px;
    margin-top: 147px;
    margin-left: 100px;
}

.infonews_headline p:first-child {
    text-align: left;
    font: normal normal bold 24px/35px Noto Sans KR;
    letter-spacing: 1.2px;
    color: #1E1E1E;
    opacity: 1;
    margin-bottom: 12px;
}

.infonews_headline p:last-child {
    text-align: left;
    font: normal normal 300 16px/24px Noto Sans KR;
    letter-spacing: 0.8px;
    color: #AAAAAA;
    opacity: 1;
    margin-bottom: 30px;
}

.infonews_contents {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 3px solid #184B9F;
    border-bottom: 3px solid #184B9F;
}

.infonews_con_img {
    width: 1060px;
    height: 561px;
    margin-bottom: 50px;
}

.infonews_con_text {
    text-align: left;
    font: normal normal normal 16px/20px Noto Sans KR;
    letter-spacing: 0.8px;
    color: #000000;
    opacity: 1;
}

/********** 이전글, 다음글 **********/
.infonews_btn {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.infonews_btn_box {
    display: flex;
    justify-content: space-between;
}

.infonews_btn_box a {
    text-decoration: none;
    display: flex;
}

.infonews_btn_icon {
    width: 42px;
    height: 42px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1E1E1E;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infonews_btn_text {
    text-align: left;
    font: normal normal medium 16px/24px Noto Sans KR;
    letter-spacing: 0.8px;
    color: #1E1E1E;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infonews_btn_icon:first-child {
    margin-right: 20px;
}

.infonews_btn_icon:last-child {
    margin-left: 20px;
}

.infonews_btn_box img:last-child {display: none;}
.infonews_btn_box:hover img:first-child {display: none;}
.infonews_btn_box:hover img:last-child {display: inline-block;}

.infonews_btn_box:hover .infonews_btn_icon {
    background: #184B9F 0% 0% no-repeat padding-box;
}

.infonews_btn_box:hover .infonews_btn_text {
    color: #184B9F;
}

/********** 태블릿 화면 **********/
@media screen and (max-width: 1280px) {
    * {
        max-width: 1280px;
        width: 100%;
    }
    .info_main {
        max-width: 1000px;
        margin: 0 auto;
    }
    .infonews_turn_icon {
        margin-top: 8px;
    }
    .infonews_list {
        max-width: 700px;
    }
    .infonews_con_img {
        width: 700px;
        height: 370px;
    }
    .infonews_btn_icon {
        width: 30px;
        height: 30px;
    }
    .infonews_btn_icon:first-child {
        margin-right: 320px;
    }
    .infonews_btn_icon:last-child {
        margin-left: 320px;
    }
    .infonews_btn_text {
        display: none;
    }
}
/********** 모바일 화면 **********/
@media screen and (max-width: 768px) {
    * {
        max-width: 768px;
        width: 100%;
    }
    .info_main {
        max-width: 704px;
        margin: 0 auto;
        display: block;
        align-content: space-between;
    }
    .infonews_turn {
        margin: 5px 0 50px 5px;
    }
    .infonews_list {
        margin: 0 auto;
    }
}