footer{
    background-color: #E9E9E9;
}
#footer{
    margin-left: 12%;
    padding:3% 0;
}
.footer-logo p{
    display:inline-block;
    margin-left: 2%;
    color: #9E9E9E;
    font-weight: bold;
}
.footer-wrap{
    display:flex;
    font-size: 16px;
    line-height: 26px;
    color: #9E9E9E;
    gap:1%;
}
.footer-wrap p{
    width:50%;
}
@media screen and (max-width:1280px){
    #footer{
        margin-left:9%;
    }
}
@media screen and (max-width:768px){
    #footer{
        margin-left:6%;
        padding:6% 0;
    }
    .footer-wrap{
        flex-direction: column;
    }
    .footer-wrap p{
        width:90%;
        margin-bottom:0;
    }
}