@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
  margin:0;
  padding:0;
  font-family: 'Noto Sans KR', sans-serif; 
  max-width:1920px;
}
#container{
  width:100%;
  align-items: center;
  overflow-x: hidden;
  position:relative;
  display: block;
}
ul li{
    list-style: none;
}
details{
  list-style-type: none;
}
summary {
  outline: none;
  display:block;
}
summary::-webkit-details-marker {
  display: none
} */

summary::-moz-list-bullet {
 list-style-type: none;
}
section:nth-of-type(even){
    background: rgba(249, 249, 249, 1) 0% 0% no-repeat padding-box;
}
section{
    padding: 5% 0 0 7%;
    margin-bottom: 50px;  
}
.section{
  width:90%;
}
#header{ 
  position:relative;
  padding: 3vw; 
  background: rgba(30, 30, 30, 0.3) 0% 0% no-repeat;
  background-image: url('../img/square64.png') ;
  background-size:cover;
  background-position: center;
  display:flex;
  flex-wrap: nowrap;
  justify-content:center;
  align-items: center; 
}

#header p{
    text-align: center;
    font: normal normal bold 40px/58px 'Noto Sans KR';
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
}
.intro-title{
    line-height: 0; 
}
.intro-title p:first-child{
    text-align: left;
    font: normal normal bold 40px/58px 'Noto Sans KR';
    letter-spacing: 0px;
    color: rgba(30, 30, 30, 1);
    margin:0;
    padding:0;
}
.intro-title p:last-child{
    text-align: left;
    font: normal normal medium 18px/26px 'Noto Sans KR';
    letter-spacing: 0px;
    color: rgba(200, 200, 200, 1);
}
#intro-info-wrap{
  position:relative;
}
.intro-info:first-child{
    border-top: 1px solid rgba(219, 219, 219, 1);
    margin-top: 4vw;
}
.intro-info{ 
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    position:relative;
    display:flex;
    padding:0.1vw;
}
.intro-info p{
  padding:0 4rem 0 3rem;
  align-items: center;  
}
.intro-info p:first-child{
    font: normal normal bold 24px/50px 'Noto Sans KR';
    letter-spacing: 1.2px;
    color: rgba(30, 30, 30, 1);
}
.intro-info p:last-child{
    position: absolute;
    left: 20%;
    transform:  translateY(50%);
    font: normal normal normal 20px/30px 'Noto Sans KR';
    letter-spacing: 0px;
    color: rgba(149, 149, 149, 1);
}
/* 연혁 */
#history-resoft {
    width:90%;
  }
  #history-wrap{
    position:relative;
  }
  #history-wrap hr{
    width:100%;
    border : 0px;
    border-top: 1.5px solid #DBDBDB;
    margin-top: -1vh;
    margin-bottom: -1vh;
   }
  #history-wrap > div:first-of-type{
    padding-top: 3%;
    padding-left:10%;
  }
  #history-wrap > div > p{
    font-weight: bold;
    font-size: 3rem;
    margin-top:3.5%;
  }
  #history-index{
    position:relative;
    top: -16.5vh;
    left: 20%;
  }
  /* Timeline */
  .timeline {
    display:block;
    border-left: 4px solid rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: black;
    margin: 0 auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px 0 0 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 61%;
  }
  .timeline .event {
    padding-bottom: 4vh;
    margin-bottom: 5vh;
    position: relative;
  }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  .timeline .event:before {
    left: -217.5px;
    color: blue;
    content: attr(data-date);
    text-align: right;
    font-weight: 700;
    font-size: 1.5em;
    min-width: 120px;
  }
  .timeline .event:after {
    box-shadow: 0 0 0 4px #4298c3;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;
    content: "";
    top: 5px;
  }
 /*조직도*/
 #organiz{
  background: url(../img/org1440.svg) no-repeat center/80%;
  padding:20vw;
 }
 /*특허*/
 .grid-image {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin:5vh 0;
}
.grid-image img {
  /* width:calc(33.333% - 90px); */
  width:25.333%;
  margin: 0 8% 4.5% 0;
}
.grid-image img:nth-of-type(3n){
  margin-right:0;
}

 /*오시는 길*/
 #map-wrap{
  margin:0 auto;
  width:90%;
  margin-top: 4vh;
  position:relative;
 }
 #map{
  margin:0 auto;
  padding-top:56.26%;
  max-width:1400px;
  overflow: hidden;
  background: url(http://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.map-info{
  border-bottom:2px solid #DBDBDB;
  display:flex;
  position:relative;
  padding:2.5vh;
}
.map-info:last-of-type{
  border-bottom: 3px solid black;
}
.map-info p{
  margin:25px 0;
}
.map-info p:first-child{
  position: absolute;
  top:0;
  margin-left: 3%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1E1E1E;
}
.map-info p:last-child{
  position: absolute;
  top:0;
  left:18%;
  font-size: 1.2rem;
  color: #959595; 
}
/* 1280px tablet */
@media screen and (max-width:1280px) {
  #container{
    max-width:1280px;
  }
  section{
    padding:4% 0 0 4%;
  }
  /* 소개 */
  .intro-info p:last-child{
    position:absolute;
    left: 25%;
    }
  /* 연혁 */
  #history-index{
    left:28%;
  }
  #history-wrap > div:first-of-type{
    padding-left:5%;
  }
  /* 조직도 */
  #organiz{
    background:url(../img/org1280.svg) no-repeat center/60%;
    padding: 60vw 0 30vw 0;
  }
  /* 오시는 길 */
  .map-info p:last-child{
    font-size: 1rem;
    color: #959595; 
    left:23%;
  }
 }
/*소개 상세정보 1107px*/
@media screen and (max-width:1107px){
  .intro-info p:last-child{
    transform: translateY(30%);
    } 
}

 /* 768px Moblie */
 @media screen and (max-width:768px){
  /* 소개 */
  .intro-info p:first-child{
    letter-spacing: 1.1px;
  }
.intro-info p:last-child{
  position:absolute;
  left: 25%;
  transform: translateY(0%);
  }
  /* 연혁 */
  #history-index{
    left:30%;
  }
  #history-wrap > div:first-of-type{
    padding-top: 8%;
    padding-left:3%;
  }
  /* 조직도 */
  #organiz{
    background-size: 70%;
    padding: 25vh 0;
  }
  /* 특허인증 */
  .grid-image img {
    width:calc(50% - 9vw);
  }
  .grid-image img:nth-of-type(3n) {
    margin-right:8%;
  }

  .grid-image img:nth-of-type(2n) {
    margin-right:0;
  }
  .grid-image img:last-child{
  display:none;
  }
  /* 오시는 길 */
  .map-info{
    padding:2vh;
  }
  .map-info p:first-child{
    margin-left: 1%;
    font-size: 1rem;
    left:3%;
  }
  .map-info p:last-child{
    font-size: 0.8rem;
    left:17%;
    transform: translateY(-30%);
  }
}